In [ ]:
# !pip3 install langchain_community

In [6]:
from langchain_community.llms import Ollama

In [7]:
llm = Ollama(model="llama2")
llm.invoke("The first man on the moon was ...")

'\nThe first man on the moon was Neil Armstrong. He stepped foot on the moon\'s surface on July 20, 1969, during the Apollo 11 mission. Armstrong famously declared "That\'s one small step for man, one giant leap for mankind" as he became the first person to walk on the moon.'

In [8]:
llm.invoke("Can you add an appropriate category next to each of the following expenses. Respond with a list of categories separated by commas. For example, Spotify AB by Adyen - \
Entertainment, Beta Boulders Ams Amsterdam Nld - Sports, etc.: \
ISS Catering Services De Meern, Vishandel Sier AMSTELVEEN, Ministerie van Justitie en Veiligheid, Etos AMSTERDAM NLD, Bistro Bar Amsterdam")

'\nCertainly! Here are the categories for each of the expenses you provided:\n\n* Spotify AB by Adyen - Entertainment\n* Beta Boulders Ams Amsterdam Nld - Sports\n* ISS Catering Services De Meern - Food and Beverage\n* Vishandel Sier AMSTELVEEN - Retail\n* Ministerie van Justitie en Veiligheid - Government\n* Etos AMSTERDAM NLD - Retail\n* Bistro Bar Amsterdam - Food and Beverage'

### Read transaction data

In [13]:
# Read the transactions_2022_2023.csv file 
import pandas as pd
df = pd.read_csv("transactions_2022_2023.csv")
df

            Date               Name / Description Expense/Income  Amount (EUR)
0     2023-12-30                  Belastingdienst        Expense          9.96
1     2023-12-30                 Tesco Amstelveen        Expense         17.53
2     2023-12-30          Monthly Appartment Rent        Expense        451.00
3     2023-12-30        Vishandel Sier Amstelveen        Expense         12.46
4     2023-12-29                Selling Paintings         Income         13.63
...          ...                              ...            ...           ...
1500  2022-01-16                       Amazon Lux        Expense         24.11
1501  2022-01-15  Classpass* Monthly Missoula Usa        Expense         30.08
1502  2022-01-15        Flowingdata Livermore Usa        Expense         17.98
1503  2022-01-14       Audible Uk AdblCo/Pymt Gbr        Expense         11.00
1504  2022-01-14        Gling, Inc Middletown Usa        Expense         14.30

[1505 rows x 4 columns]

In [44]:
# Get unique transactions in the Name / Description column
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

316

In [45]:
unique_transactions[1:10]

array(['Tesco Amstelveen', 'Monthly Appartment Rent',
       'Vishandel Sier Amstelveen', 'Selling Paintings',
       'Spotify Ab By Adyen', 'Tls Bv Inz Ov-Chipkaart',
       'Tikkie Zakelijk', 'Tk Maxx Amsterdam Da', 'Consulting'],
      dtype=object)

### Categorise bank transactions with Llama2

In [23]:
# Get index list
#https://stackoverflow.com/questions/47518609/for-loop-range-and-interval-how-to-include-last-step
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 316]

In [46]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [47]:
# Test out the function
categorize_transactions('ISS Catering Services De Meern, Vishandel Sier AMSTELVEEN, Etos AMSTERDAM NLD, Bistro Bar Amsterdam',
                        llm)

['', 'Of course! Here are the appropriate categories for each expense:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. ISS Catering Services De Meern - Food & Beverage', '4. Vishandel Sier AMSTELVEEN - Food & Beverage', '5. Etos AMSTERDAM NLD - Retail', '6. Bistro Bar Amsterdam - Food & Beverage']

,Transaction vs category,Transaction,Category
0,,,None
1,Of course! Here are the appropriate categories...,Of course! Here are the appropriate categories...,None
2,,,None
3,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
4,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport
5,3. ISS Catering Services De Meern - Food & Bev...,3. ISS Catering Services De Meern,Food & Beverage
6,4. Vishandel Sier AMSTELVEEN - Food & Beverage,4. Vishandel Sier AMSTELVEEN,Food & Beverage
7,5. Etos AMSTERDAM NLD - Retail,5. Etos AMSTERDAM NLD,Retail
8,6. Bistro Bar Amsterdam - Food & Beverage,6. Bistro Bar Amsterdam,Food & Beverage

In [48]:
# Intialise the categories_df_all dataframe
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

['Sure, here are the categories for each of the expenses you provided:', '', '1. Belastingdienst - Taxes', '2. Tesco Amstelveen - Groceries', '3. Monthly Appartment Rent - Housing', '4. Vishandel Sier Amstelveen - Shopping', '5. Selling Paintings - Art/Crafts', '6. Spotify AB by Adyen - Entertainment', '7. TLS BV Inz Ov-Chipkaart - Transportation', '8. Tikkie Zakelijk - Business Services', '9. Tk Maxx Amsterdam Da - Shopping', '10. Consulting - Professional Services', '11. Aidsfonds - Charity/Donations', '12. Keesdeboekhouder Office BV Via Stichtmollie Payments - Professional Services', '13. Iss Caterservices De Meern - Food/Beverage', '14. Lidl Amstelveen - Groceries', '15. Etos Amsterdam - Shopping', '16. Beta Boulders Ams Amsterdam - Entertainment', '17. Etraveli - Travel', '18. Lidl Amstelveen Amstelveen - Groceries', '19. Ccv*Samrat Indian Rest Amsterdam - Food/Beverage', '20. Sumup *Orthodontie Am - Professional Services', '21. Freelancing - Self-Employment', '22. Tikkie - Financial Services', '23. Tesco Leeuwarden - Groceries', '24. Hmshost Amsterdam Cent Amsterdam - Technology', '25. Kosten Oranjepakket - Home Improvement', '26. YouTube - Entertainment', '27. Vinted Via Mangopay - Shopping', '28. Incasso Creditcard Accountnr - Financial Services', '29. Aldi Nederland - Groceries', '30. Hotel Post Plaza Leeuwarden - Travel', '', 'Note that some of these categories are quite general, and you may want to further specify the expense type if necessary (e.g., "Shopping" could be broken down into subcategories like "Groceries", "Clothing", etc.).']
['Sure! Here are the appropriate categories for each of the expenses you listed:', '', '1. Boekhandel V D Velde Leeuwarden - Entertainment', '2. Simon Levelt BV Amstelveen - Business', '3. VOF De Joode Purmerend - Miscellaneous', '4. Markt Zwaanshoek - Miscellaneous', '5. Treatwell Bnl BV - Entertainment', '6. Miscellaneous - Miscellaneous', '7. Spotify AB - Entertainment', '8. Chocostory Brugge Bel - Miscellaneous', '9. Blogging - Miscellaneous', '10. Trattoria Murano Brugge Bel - Entertainment', '11. Pnvt Verheecke Brugge Bel - Miscellaneous', '12. Jelly Jazz Brugge Bel - Entertainment', '13. Bart Markten Brugge Bel - Miscellaneous', '14. Cafe Vlissinghe Brugge Bel - Food & Beverage', '15. Moh Nv Brugge Bel - Miscellaneous', '16. Ccv*Rederij Coudenys Brugge Bel - Transportation', '17. Kruidvat Brugge Brugge Bel - Health & Beauty', '18. Tesco Schiphol - Grocery', '19. Gantner Nv - Business', '20. Snacks & Drink Amsterdam - Food & Beverage', '21. Salary - Miscellaneous', '22. Hmshost Amsterdam Zuid Amsterdam - Technology', '23. AsosCom Limited Dutch Branch - Business', '24. Geldmaat Gm Groenhof Amstelveen - Finance', '25. Beest Boulders Adam Amsterdam - Sport', '26. Trad212 - Entertainment', '27. Ccv*Iss Caterservi De Meern - Transportation', '28. Zettle*Vascobelo Vba Amsterdam - Technology', '29. Ns Groep Iz Ns Reizigers - Travel', '30. Kruidvat Amstelveen - Health & Beauty', '', 'I hope this helps! Let me know if you have any other questions.']
['Of course! Here are the categories for each expense:', '', '1. Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Stichtderdengelden Netpoint Via Stichtthird Party Funds Ems - Finance', '4. Apple Services - Technology', '5. The Cottage Deli Amsterdam - Food and Beverage', '6. Treatwell Bnl BV Via Stripe - Travel and Transportation', '7. Tesco Lelystad - Retail', '8. Wise - Finance', '9. Ccv*Ruitenberg Agf BV Zwolle - Health and Wellness', '10. Ah To Go Ijhal Amsterdam - Food and Beverage', '11. Ccv*C And C Asian Mark Amsterdam - Food and Beverage', '12. Toko Van Wou Amsterdam - Retail', '13. Stuy Boon Amsterdam - Education', '14. Stichtmollie Payments - Finance', '15. Aldi Almere - Retail', '16. Tesco Amsterdam - Retail', '17. Zalando Payments Gmbh - Technology', '18. Nachtrust Nederland Bv By Buckaroo - Finance', '19. Ccv*Hanoi Old Quarter Amsterdam - Food and Beverage', '20. Infomedics BV - Health and Wellness', '21. Ccv*Rai Amsterdam BV Amsterdam - Entertainment', '22. Ccv*Hakata Senpachi Amsterdam - Food and Beverage', '23. Trustly Group Ab - Finance', '24. Monk Hil Hilversum - Technology', '25. Sep*HeartH Amsterdam - Health and Wellness', '26. Boekhandel Bruna Amstelveen - Retail', '27. Publiekszaken Amstelveen - Retail', '28. Sumup *Boki Boki Purmerend - Finance', '29. Pwc Belastingadviseurs - Finance', '30. Bouldermuur BV Amsterdam - Construction and Maintenance', '31. Nlovmqjamk9Kgaaj67 WwwOvpayNl - Technology', '32. Coolblue Amsterdam - Retail', '', 'I hope this helps! Let me know if you have any questions or need further assistance.']
['Of course! Here are the appropriate categories for each of the expenses you provided:', '', '1. Rabo Betaalverzoek - Finance', '2. Keesdeboekhouder Office BV Via Mollie - Business', '3. Lidl De Koog De Koog, Ecomare De Koog, Echte Bakker Timmer De Koog, Ccv*Vintex Enterprise De Koog - Retail', '4. Decathlon Netherlands BV By Buckaroo Stichtderdengelden - Retail', '5. Uber - Transportation', '6. Ccv*Paultjes Groenten Abcoude - Food and Beverage', '7. Simon Meijssen Amsterdam, De Bijenkorf Amsterdam - Retail', '8. Withdrawal - Finance', '9. Fuji Hair Amsterdam Amsterdam - Health and Beauty', '10. Biglietteria Museo Del Firen Ita - Entertainment', '11. Sumup * Rivareno Gelat Firen Ita - Food and Beverage', '12. Gest Spa Scandicci Ita - Entertainment', '13. Bar Pontevecchio Firenze Ita - Entertainment', '14. Florence Minimarket Firenze Ita - Retail', '15. Blend Eat Firenze Ita - Food and Beverage', '16. Rayban Firenze Firenze Ita - Retail', '17. Smalzi Firenze Ita - Clothing', '18. La Buchetta Firenze Ita - Food and Beverage', '19. Zuiderzee Museum M Enkhuizen - Entertainment', '20. NSKOogzaandijk Koog Aan De Z - Transportation', '21. Vangoghmuseum - Entertainment', '22. Stib Bruxelles Bel - Transportation', '23. SNCF Paris Fra - Transportation', '24. Lidl Elsene Elsene Bel - Retail', '25. LC Taxi Anhee Bel - Transportation', '26. La Citadelle Dinant Dinant Bel - Entertainment', '', 'I hope this helps! Let me know if you have any questions or need further assistance.']
['Sure! Here are the categories for each expense:', '', '1. Boaty Bv Amsterdam - Business', '2. Decathlon Sgravenhage - Sport', '3. Sprinter 99N Den Haag - Transportation', '4. Pistache Cafe Sgravenhage - Food and Beverage', '5. Groenewoud Textiel Amsterdam - Clothing and Accessories', '6. Tinka BV - Business', '7. Zettle*Taxi Fetu Amsterdam - Transportation', '8. Dub The Mez Dublin Irl - Entertainment', '9. Gvb Zuid Wtc L122 Amsterdam - Transportation', '10. Upshoot Stillorgan Irl - Business', '11. Shop / Lounge Schiphol Airp - Travel and Leisure', '12. Pho Ta Templebar Irl - Food and Beverage', '13. Ccv*Stichtusc Amsterdam - Education', '14. Coffeecompany Amsterdam - Food and Beverage', '15. De Gouden Schaar Amstelveen - Food and Beverage', '16. Zettle*Stichtcafe Amsterdam - Food and Beverage', '17. Sushito De Pijp Amsterdam - Food and Beverage', '18. H&B Amsterdam - Clothing and Accessories', '19. Lls Kiosk Lelystad - Travel and Leisure', '20. Equal Yoga Linnaeusstr Amsterdam - Health and Wellness', '21. Gelateria Artigianale Venezi Ita - Food and Beverage', '22. Venezia Mestre P Venezia Ita - Transportation', '23. V Corner Amsterdam - Shopping', '24. Minucci Stefano Murano Isola Ita - Clothing and Accessories', '25. The Glass Cathedral Venezia Ita - Entertainment', '26. Campdarsena Fusina Venez Ita - Transportation', '27. Zhang Abbigliamento Venezia Ita - Clothing and Accessories', '28. Trattoria Rialto Novo Venezi Ita - Food and Beverage', '29. Bauledoriente Srl Venezia Ita - Transportation', '30. GoRizia Srl Venezia Ita - Business', '', 'I hope this helps! Let me know if you have any questions or need further assistance.']
['Sure! Here are the categories for each expense:', '', '1. Wang Guohua Venezia Ita - Art & Food', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Gemeente Amstelveen - Local Government', '4. Ccv*Primera Middenhove - E-commerce', '5. Dhl Parcel (E-Commerce) BV Via Ingenico - Shipping', '6. Vr Arcade Amsterdam Amsterdam - Entertainment', '7. Julias Gvc Sgravenhage - Retail', '8. Rosetta Bakkerij Amsterdam - Food & Beverage', '9. American Book Center Amsterdam - Retail', '10. De Vr Arcade BV Via Mollie - Retail', '11. Phylactin Utrecht - Health & Beauty', '12. Strandpaviljoen Thalassa BV Via CmCom Stichting - Entertainment', '13. Ns Groep NV - Business Services', '14. Friends & Foes Amst Amsterdam - Retail', '15. Ccv*Indiaas Restaurant Amsterdam - Food & Beverage', '16. Zettle*Unlimited Reta Emmen - E-commerce', '17. Sep*Star Asian Superma - Food & Beverage', '18. Holland & Barrett Beverwijk - Health & Beauty', '19. Blokker Amstelv Amstelveen - Retail', '20. Restaurant T Trefpunt Schoorl - Food & Beverage', '21. Ah Station Adam Amsterdam - Transportation', '22. Ah To Go Asd Amsterdam - Food & Beverage', '23. Poke Perfect Zuidas Amsterdam - Food & Beverage', '24. Bouldermuur Bv Amsterdam - Sports & Fitness', '25. Fou Fow Ramen Amsterdam - Food & Beverage', '26. Cafe Odilon Paris Fra - Food & Beverage', '27. Gem Adam Zwembaden Amsterdam - Entertainment', '28. Parkeren Adam Amsterdam - Transportation', '', 'I hope this helps! Let me know if you have any other questions.']
['Sure! Here are the categories I would assign to each expense:', '', '1. Adyen - Entertainment', '2. Beta Boulders AMs Amsterdam Nld - Sport', '3. Ratp Paris Fra - Transportation', '4. Novaliew Paris Fra - Food and Drink', '5. Eric Kayser Paris Fra - Food and Drink', '6. Mopa Paris Fra - Transportation', '7. Sncf Roissy Fra - Transportation', '8. Geuffroy J Paris Fra - Food and Drink', '9. Intermarche Paris Fra - Food and Drink', '10. The Remix Hotel Paris Fra - Accommodation', '11. HMS Host International Amsterdam - Food and Drink', '12. Ccvboulderhal Energie Utrecht - Energy', '13. Bever Utrecht Utrecht - Food and Drink', '14. Ah To Go Utrecht Utrecht - Food and Drink', '15. Hema Ev032Amstelveen Amstelveen - Food and Drink', '16. Holland Barrett Amstelveen - Food and Drink', '17. Ccvboulderhal Zuidhav Utrecht - Transportation', '18. Julias Asdz Amsterdam - Food and Drink', '19. Noodlebar Zuid Amsterdam - Food and Drink', '20. Tapwest Amsterdam - Food and Drink', '21. Abn Amro Amsterdam Amsterdam - Financial Services', '22. Ccvburger Bar Olympia Amsterdam - Food and Drink', '23. Cmoishii Sushi Amsterdam - Food and Drink', '24. Sea Palace Adam Amsterdam - Accommodation', '25. Sushito West Bv Amsterdam - Food and Drink', '26. Ryannanglemediacouk Farnboro Gbr - Marketing and Advertising', '27. Sumup Boki Boki Purmerend - Financial Services', '28. Ccviss Caterservi De Meern - Food and Drink', '29. Holland Barrett Beverwijk - Food and Drink', '30. Ej Koelewijn Bv Bunschotensp - Food and Drink', '', 'Note that some of these categories are quite broad, so feel free to create more specific subcategories if you want.']
['', 'Sure! Here are the appropriate categories for each expense:', '', '1. Paddestoelerie Vlaardingen - Food and Beverage', '2. Cmbowls N Buns Amsterdam - Food and Beverage', '3. Ishii Holland Bv Amstelveen - Food and Beverage', '4. Anderzorg Nv - Health and Wellness', '5. Zettleau Coeur De La Reclose Fra - Travel', '6. Hollister Kalverstraat Amsterdam - Clothing and Accessories', '7. Bunq BV - Financial Services', '8. Kiosk Asdz Amsterdam - Convenience Store', '9. Ccvle Pre Bv Amstelveen - Home and Garden', '10. Woonq BV Via Mollie - Real Estate', '11. Urgent Vertalen Via Mollie - Language Services', '12. Wild And The Moon Amsterdam - Entertainment', '13. Rdm Snc Di Mattioli Scandian Ita - Travel', '14. Bar Mary Di Zhou Dong Verona Ita - Food and Beverage', '15. Shop Lounge Schiphol Airp - Convenience Store', '16. Grandcafe Dickys Amsterdam - Food and Beverage', '17. Cmsiam Corner Amsterdam - Clothing and Accessories', '18. BolCom BV - Home and Garden', '19. Ccvc And C Asian Mark Amsterdam - Clothing and Accessories', '20. Mizubar Amsterdam - Health and Wellness', '21. Dienst Justis Via Ing - Legal Services', '22. Emma Thee Via Mollie - Education', '23. Natchos Vof Amsterdam - Food and Beverage', '24. Blokker0581Amsterdam Amsterdam - Clothing and Accessories', '25. Kamer Van Koophandel Via Ccv Group Bv - Business Services', '26. CameranuNl - Entertainment', '27. Calzedonia Amsterdam - Clothing and Accessories', '28. Sepadsesso Espresso Amsterdam - Food and Beverage', '29. Ccvasian Kitchen Vijz Amsterdam - Food and Beverage', '', 'I hope this helps! Let me know if you have any other questions.']
['Certainly! Here are the appropriate categories for each of the expenses you provided:', '', '1. American Discbookc Amsterdam - Entertainment', '2. Croissanterie Amsterdam - Food and Beverage', '3. Bloem Utrecht CS Utrecht - Food and Beverage', '4. Kiosk Asa Amsterdam - Food and Beverage', '5. Arbab Omar Mustapha - Transportation', '6. Herengracht Restbar Amsterdam - Entertainment', '7. Tjx Netherlands Amstelveen - Shopping', '8. Episode Waterlooplein Amsterdam - Entertainment', '9. Decathlon Wibaut Amsterdam - Sports and Fitness', '10. Uniqlo Europe Ltd Dutc Amsterdam - Shopping', '11. Buenos Aires Grill Amstelveen - Food and Beverage', '12. Birtat Restaurant Amsterdam - Food and Beverage', '13. Sepwelman Amsterdam - Transportation', '14. Amsterdam Gvb Amsterdam - Transportation', '15. Ov-Chipkaart/Trans Link Systems By Buckaroo - Transportation', '16. Gall Gall Amstelveen - Shopping', '17. Sla Midden Bv Amsterdam - Business and Services', '18. Indian Kitchen Amstelveen - Food and Beverage', '19. We Canteen Acentauri Diemen - Food and Beverage', '20. Duo Inburgeringsexamens - Education', '21. Sumup Stichta P Amsterdam - Business and Services', '22. Flywire Payments Ltd - Finance', '23. Iz Uk Visa Applic Amsterdam - Travel and Tourism', '24. Binkbeau Lunchzo Amstelveen - Food and Beverage', '25. Sostrene Grene Rotterdam - Shopping', '26. Gerstaeker Harolds Rotterdam - Food and Beverage', '27. Raan Phad Thai Amsterdam - Food and Beverage', '28. Hollands Barrett Amsterdam - Health and Wellness', '', 'I hope this helps! Let me know if you have any other questions.']
['Sure! Here are the categories I came up with for each of the expenses you provided:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Sostrene Grene Nieuwendijk - Retail', '4. Broese Utrecht Utrecht - Food & Dining', '5. Newton House Utrecht Utrecht - Accommodation', '6. Hmshost Amsterdam Bijl Amsterdam - Technology', '7. Jan De Grotekleinvak Amsterdam - Arts & Culture', '8. Zwart Op Wit Boekh Amsterdam - Education', '9. Golfcentrum Amsteld Amstelveen - Recreation', '10. Interest Unauthorised Overdraft - Finance', '11. Vermaat Leisure BV Via PayNl - Travel', '12. Sport- En Partycentrum De Kegel Ams Via Mollie - Recreation', '13. Toko Dun Yong Amsterdam - Retail', '14. Sterrenberg Otterlo Otterlo - Nature & Outdoors', '15. Cafetariat Smulhuis Otterlo - Food & Dining', '16. Monsieur Jacques Otterlo - Arts & Culture', '17. Ccvxin Chao Wageningen - Education', '18. Wwwdezalmennl Doorwerth - Travel', '19. Hoeve Klmariendaal Oosterbeek - Nature & Outdoors', '20. Global Ticket Via CmCom Stichting - Travel', '21. Fuji Hair Amstelveen Amstelveen - Beauty & Wellness', '22. Ccvnippon Dinbv Amsterdam - Food & Dining', '23. Douglas Amsterdam - Retail', '24. Ccvapotheek Marne Ame Amstelveen - Health & Wellness', '25. Ccvhanoi Old Quarter Amsterdam - Travel', '26. Dignita Hoftuin Amsterdam - Education', '27. Stach Bbuildamsterdam - Technology', '28. Qatar Airways Via Worldpay Uk Ltd - Travel', '29. Apple - Technology', '30. Abn Amro Bank Nv - Finance', '31. Metzgerei Gasser Mayrhofen Aut - Food & Dining', '32. Pilzbar Finkenberg Aut - Recreation', '', 'Note that some of these categories are quite broad and may encompass multiple subcategories. Additionally, some expenses may not fit neatly into a single category, but I have done my best to categorize them based on their primary purpose or function.']
['Sure! Here are the categories for each expense:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Spar Dankt Mayrhofen Aut - Transportation', '4. Sport Amstelveen - Sport', '5. Iz Vascobelo Vba Amsterdam - Food', '6. Ccvhet Horeca Nest B Amstelveen - Food', '7. Soup En Zo Jodenbree Amsterdam - Food', '8. Kamera Express Rotterdam Via Ingenico - Shopping', '9. Sumup Scandinavian Amsterdam - Business', '10. Mayvy Delicatessen Amstelveen - Food', '11. Coinbase - Finance', '12. Kamera Express Adam Amsterdam - Shopping', '13. Foodticket - Food', '14. Amazon Lux - Online Shopping', '15. Classpass* Monthly Missoula Usa - Subscription', '16. Flowingdata Livermore Usa - Business', '17. Audible Uk AdblCo/Pymt Gbr - Entertainment', '18. Gling, Inc Middletown Usa - Business', '', 'Note: Some of the expenses may belong to more than one category, but I have only listed them under one category for simplicity.']

In [6]:
categories_df_all

,Transaction vs category,Transaction,Category
0,"Sure, here are the categories for each of the ...","Sure, here are the categories for each of the ...",NaN
1,NaN,NaN,NaN
2,1. Belastingdienst - Taxes,1. Belastingdienst,Taxes
3,2. Tesco Amstelveen - Groceries,2. Tesco Amstelveen,Groceries
4,3. Monthly Appartment Rent - Housing,3. Monthly Appartment Rent,Housing
...,...,...,...
353,16. Flowingdata Livermore Usa - Business,16. Flowingdata Livermore Usa,Business
354,17. Audible Uk AdblCo/Pymt Gbr - Entertainment,17. Audible Uk AdblCo/Pymt Gbr,Entertainment
355,"18. Gling, Inc Middletown Usa - Business","18. Gling, Inc Middletown Usa",Business
356,NaN,NaN,NaN
357,Note: Some of the expenses may belong to more ...,Note: Some of the expenses may belong to more ...,NaN

In [50]:
# categories_df_all.to_csv("categories_df_all.csv", index=False)

In [5]:
# Get unique categories in categories_df_all
unique_categories = categories_df_all["Category"].unique()
unique_categories

array([nan, 'Taxes', 'Groceries', 'Housing', 'Shopping', 'Art/Crafts',
       'Entertainment', 'Transportation', 'Business Services',
       'Professional Services', 'Charity/Donations', 'Food/Beverage',
       'Travel', 'Self-Employment', 'Financial Services', 'Technology',
       'Home Improvement', 'Business', 'Miscellaneous', 'Food & Beverage',
       'Health & Beauty', 'Grocery', 'Finance', 'Sport',
       'Food and Beverage', 'Travel and Transportation', 'Retail',
       'Health and Wellness', 'Education', 'Construction and Maintenance',
       'Health and Beauty', 'Clothing', 'Clothing and Accessories',
       'Travel and Leisure', 'Art & Food', 'Local Government',
       'E-commerce', 'Shipping', 'Sports & Fitness', 'Food and Drink',
       'Accommodation', 'Energy', 'Marketing and Advertising',
       'Convenience Store', 'Home and Garden', 'Real Estate',
       'Language Services', 'Legal Services', 'Sports and Fitness',
       'Business and Services', 'Travel and Tourism', 'Food & Dining',
       'Arts & Culture', 'Recreation', 'Nature & Outdoors',
       'Beauty & Wellness', 'Health & Wellness', 'Food',
       'Online Shopping', 'Subscription'], dtype=object)

In [7]:
# Drop NA values
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/1238705727.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/1238705727.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/1238705727.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/1238705727.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/1238705727.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/1238705727.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [8]:
# Remove the numbering eg "1. " from Transaction column
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
categories_df_all

/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/2440992137.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/2440992137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')

,Transaction vs category,Transaction,Category
2,1. Belastingdienst - Taxes,Belastingdienst,Taxes
3,2. Tesco Amstelveen - Groceries,Tesco Amstelveen,Groceries
4,3. Monthly Appartment Rent - Housing,Monthly Appartment Rent,Housing
5,4. Vishandel Sier Amstelveen - Shopping,Vishandel Sier Amstelveen,Shopping
6,5. Selling Paintings - Art/Crafts,Selling Paintings,Art/Crafts
...,...,...,...
351,14. Amazon Lux - Online Shopping,Amazon Lux,Online Shopping
352,15. Classpass* Monthly Missoula Usa - Subscrip...,Classpass* Monthly Missoula Usa,Subscription
353,16. Flowingdata Livermore Usa - Business,Flowingdata Livermore Usa,Business
354,17. Audible Uk AdblCo/Pymt Gbr - Entertainment,Audible Uk AdblCo/Pymt Gbr,Entertainment
355,"18. Gling, Inc Middletown Usa - Business","Gling, Inc Middletown Usa",Business

In [11]:
categories_df_all['Transaction'] = categories_df_all['Transaction'].apply(lambda x: x.title())

/var/folders/2t/5c_z4g5j7z77jprgswwd1htr0000gn/T/ipykernel_95551/2584119373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all['Transaction'] = categories_df_all['Transaction'].apply(lambda x: x.title())

In [32]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
df

,Date,Name / Description,Expense/Income,Amount (EUR),Transaction vs category,Transaction,Category
0,2023-12-30,Belastingdienst,Expense,9.96,1. Belastingdienst - Taxes,Belastingdienst,Taxes
1,2023-12-30,Tesco Amstelveen,Expense,17.53,2. Tesco Amstelveen - Groceries,Tesco Amstelveen,Groceries
2,2023-12-30,Monthly Appartment Rent,Expense,451.00,3. Monthly Appartment Rent - Housing,Monthly Appartment Rent,Housing
3,2023-12-30,Vishandel Sier Amstelveen,Expense,12.46,4. Vishandel Sier Amstelveen - Shopping,Vishandel Sier Amstelveen,Shopping
4,2023-12-29,Selling Paintings,Income,13.63,5. Selling Paintings - Art/Crafts,Selling Paintings,Art/Crafts
...,...,...,...,...,...,...,...
1561,2022-01-16,Amazon Lux,Expense,24.11,14. Amazon Lux - Online Shopping,Amazon Lux,Online Shopping
1562,2022-01-15,Classpass* Monthly Missoula Usa,Expense,30.08,15. Classpass* Monthly Missoula Usa - Subscrip...,Classpass* Monthly Missoula Usa,Subscription
1563,2022-01-15,Flowingdata Livermore Usa,Expense,17.98,16. Flowingdata Livermore Usa - Business,Flowingdata Livermore Usa,Business
1564,2022-01-14,Audible Uk AdblCo/Pymt Gbr,Expense,11.00,NaN,NaN,NaN
1565,2022-01-14,"Gling, Inc Middletown Usa",Expense,14.30,"18. Gling, Inc Middletown Usa - Business","Gling, Inc Middletown Usa",Business

In [45]:
df.to_csv("transactions_2022_2023_categorized.csv", index=False)